$color-white: white;
$color-grey: grey;
$color-red: red;
$color-bg: rgb(240, 240, 240);
$color-btn-active: #ffff92;


$pixel-circle: 40px;
%circle-size {
  width: $pixel-circle;
  height: $pixel-circle;
}
